<h1>Posts</h1>

<a href="<%= post_path(@conn, :new) %>" class="btn btn-default">New Post</a>

<ul>
  <%= for post <- @posts do %>
    <li>
      <a href="<%= post_path(@conn, :show, post) %>">
        <%= post.medium_title %>
      </a>
    </li>
  <% end %>
</ul>
